/* eslint-disable css/use-baseline */
html,
body {
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	/* prevents the rubber bandy overscroll on trackpads */
	overscroll-behavior: none;
	margin: 0;
}

::-webkit-scrollbar {
	width: 0.65rem;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	cursor: pointer;
	border-radius: 50px;
	border: 4px solid transparent;
	background-clip: padding-box;
	background: #888;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}
