/* eslint-disable css/use-baseline */
body {
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	/* prevents the rubber bandy overscroll on trackpads */
	overscroll-behavior: none;
	margin: 0;
}

* {
	scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 3px;
}

/* Track */
/* ::-webkit-scrollbar-track {
	background: #f1f1f1;
} */

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 50px;
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
